body
{
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#667eea,#764ba2);
}

.container
{
    padding: 30px;
    color: white;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn
{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #ff4b5c;
    color: white;
    cursor: pointer;
}

.glass-card
{
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

.search-box
{
    margin-bottom: 15px;
}

.search-box input
{
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 250px;
}

.search-box button
{
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background: #00c9a7;
    color: white;
    cursor: pointer;

}

table
{
    width: 100%;
    border-collapse: collapse;
    color: white;
}
th,td
{
    padding: 12px;
    text-align: center;
}
th
{
    background: rgba(255,255,255,0.2);
}
tr
{
    transition: 0.3s;
}
tr:hover
{
    background-color: rgba(255,255,255,0.1);
}
button
{
    cursor: pointer;
}
td button
{
    padding: 6px 12px;
    border: none;
    border-radius: 15px;
    background: #ff6b6b;
    color: white;
}